:root {
    --primary: #51a088 !important;
    --secondary: #ad0c2c !important;
    --darkened-bg: #E5E7EB !important;
    --delete-button-bg: #407060 !important;
    --accent: #ffffff !important;
    --header-color: #ffffff !important;
    --link-fg: #313131 !important;
    --breadcrumbs-bg: #590a19 !important;
    --selected-row: #ffe9f2 !important;
}

html[data-theme="dark"] {
    --primary: #2d5045 !important;
    --secondary: #e11d48 !important;
    --darkened-bg: #4a4d50 !important;
    --link-fg: #f1f1f1 !important;
    --selected-row: #444043 !important;
}
